<html lang="en">
	<head>
	    <title>All Comments</title>
	</head>
	<body>
		<h1>All Comments</h1>
		<table>
			<th> 
				<tr>
					<td>Comments</td>
					<td>Products</td>
				</tr>
			</th>
			
			<% @comments.each do |comment| %>
				<tr>
					<td><%= comment.comment %></td>
					<td><%= comment.product.name %></td>
				</tr>
			<% end %>
		</table><br>
		<a href="/products">Back</a>
	</body>
</html>
	   
